.full-nav-container {
  background-color: #004e54;
  box-shadow: 0px 5px 13px 0px #000;
  display: flex;
  height: 35px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 2px;
  transition: background-color 0.5s;
}

.full-nav-container:hover {
  background-color: #5e00a4;
  transition: background-color 0.5s;
}

.nav-buttons {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 85%;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0.5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.nav-buttons:hover {
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.75s, color 1.5s;
  color: black;
}

.hamburger-button,
.hamburger-button-active {
  background: center/100% url("/triangle_purple.png");
  border: none;
  height: 50px;
  position: fixed;
  width: 50px;
  z-index: 10;
  margin: 5px;
  transition: margin 0.5s, background 1s;
}

.hamburger-button-turn-left {
  animation: turnLeft 0.9s 1;
}

.hamburger-button-active {
  background: center/100% url("/triangle_white.png");
  transform: rotate(180deg);
  animation: turnRight 0.9s 1;
  margin: 0;
  transition: margin 0.5s, background 1s;
}

.hamburger-button:hover,
.hamburger-button-active:hover {
  cursor: pointer;
}

.mobile-nav-container {
  display: none;
  position: absolute;
}

.mobile-menu {
  background-color: #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 13px 2px #000;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 9;
}

@keyframes turnRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes turnLeft {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-in {
  0% {
    top: -250px;
  }

  100% {
    top: 0px;
  }
}

@keyframes slide-out {
  0% {
    top: 0px;
  }

  100% {
    top: -250px;
  }
}

.animate-slide-in {
  animation: slide-in 0.9s 1;
}

.animate-slide-out {
  animation: slide-out 0.9s 1;
}

@media only screen and (max-width: 660px) {
  .mobile-nav-container {
    display: block;
  }

  .full-nav-container {
    display: none;
  }

  .nav-buttons {
    font-size: 110%;
    width: 100%;
    padding: 15px;
    border-bottom: darkgray 1px solid;
  }

  .nav-buttons:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
