._down-arrow {
  background: center/100% url("/down_arrow_icon.png");
}

._title,
._description,
._social-container {
  opacity: 0;
  animation: fadeInSlow 2s ease-out forwards;
}

._scroll-down,
._down-arrow {
  opacity: 0;
  animation: fadeInFast 1s ease-in forwards;
}

/* Animation delays */
._title {
  animation-delay: 1.5s;
}

._description {
  animation-delay: 1.75s;
}

._social-container {
  animation-delay: 1.8s;
}

._scroll-down {
  animation-delay: 2.75s;
}

._down-arrow {
  animation-delay: 3s;
}

@keyframes fadeInSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFast {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
