._down-arrow {
  background: center/100% url("/down_arrow_icon.png");
}

/* Initial state for animation elements */
._title,
._description,
._social-container,
._scroll-down,
._down-arrow {
  opacity: 0; /* Start elements as invisible */
  animation: fadeInDown 0.5s ease-out forwards; /* Use forwards to retain the final animation state */
}

/* Animation delays */
._title {
  animation-delay: 1s;
}

._description {
  animation-delay: 1s;
}

._social-container {
  animation-delay: 1s;
}

._scroll-down {
  animation-delay: 2.5s;
}

._down-arrow {
  animation-delay: 3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
