@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom utility classes: */
@layer components {
  .global-p-text {
    @apply font-serif text-lg leading-normal tracking-wide;
  }
  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4846b2;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4846b2;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4846b2 transparent;
  }
}

@layer utilities {
  .text-gradient-clip {
    background-image: linear-gradient(to bottom right, #ffffff, #949494);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "comfortaa";
  src: url("/fonts/comfortaa.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "gulzar";
  src: url("/fonts/gulzar.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Apply the fonts globally */
body {
  font-family: "inter", sans-serif;
}

p {
  font-family: var(--font-enriqueta);
}

h1 {
  font-family: var(--font-cardo);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.global__hover-animation {
  cursor: pointer;
  transform: scale(1);
  transition:
    transform 0.4s,
    opacity 0.4s;
}

.global__hover-animation:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition:
    transform 0.4s,
    opacity 0.4s;
  opacity: 0.5;
}

.global__no-scroll {
  overflow: hidden;
}

/* for sliderSection buttons */
.react-multiple-carousel__arrow {
  background-color: #4846b2 !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px !important;
  height: 48px;
  width: 48px;
}

.react-multiple-carousel__arrow:hover {
  background-color: #000 !important;
  box-shadow: 0 0 20px rgb(214, 255, 112);
  filter: invert();
  scale: 105%;
}
