.fav-tech__outer-container {
  align-items: center;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  width: 100%;
  color: white;
}

.fav-tech__header-section {
  width: 87%;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.fav-tech__header {
  font-size: 19px;
  align-self: flex-start;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.fav-tech__bottom-border {
  border-bottom: 3px solid #8913e1;
  width: fit-content;
  padding-bottom: 6px;
}

.fav-tech__description {
  margin-top: 6px;
  font-size: 20px;
  align-self: flex-start;
}

.fav-tech__container {
  background-color: #1f1f1f;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #101010;
  margin-bottom: 50px;
  padding: 20px;
  width: 85%;
  display: flex;
  gap: 30px;
}

.techItem__site-image-container {
  position: relative;
  width: 300px;
  height: 190px;
  border-radius: 10px;
  background-color: #101010;
}

.fav-tech__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
}

.techItem__text-container {
  display: flex;
  flex-direction: column;
}

.techItem__title-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.fav-tech__title {
  font-size: 150%;
}

.fav-tech__techs {
  font-family: "Muli";
  font-size: 18px;
}

.fav-tech__description {
  font-family: "Muli";
  letter-spacing: 0.3px;
  line-height: 150%;
  margin-top: 8px;
  font-size: 16px;
}

.fav-tech__button {
  border-radius: 21px;
  font-size: 80%;
  height: 40px;
  margin: 15px 15px 0 0;
  width: 130px;
  font-size: 14px;
  border: none;
  background-color: #1f1f1f;
  border: 2px solid #5e00a4;
  transition: background-color 0.3s, color 0.7s;
  color: white;
}

.fav-tech__button:hover {
  background-color: #5e00a4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.7s;
}

.techItem__site-preview {
  width: 300px;
  height: 190px;
  border-radius: 10px;
  transition: filter 0.3s;
}

.techItem__site-preview:hover {
  cursor: pointer;
  filter: contrast(0.5) brightness(1.25);
  transition: filter 0.3s;
}

@media only screen and (max-width: 1000px) {
  .fav-tech__outer-container {
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .fav-tech__container {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    position: relative;
  }

  .techItem__site-image-container {
    width: 83vw;
    min-height: 41vw;
    height: fit-content;
  }

  .techItem__site-preview {
    width: 83vw;
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .fav-tech__outer-container {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .fav-tech__info {
    padding: 5px 2px 0;
  }

  .fav-tech__container {
    margin-bottom: 35px;
    padding: 4%;
  }

  .fav-tech__button {
    margin: 10px 0 0;
    padding: 0px 20px;
    width: auto;
  }

  .fav-tech__buttons-container {
    display: flex;
    margin-top: 5px;
    gap: 10px;
  }
}
