.nav-buttons {
  opacity: 0; /* Starts transparent, fades in */
  animation: fadeIn 1s ease forwards;
}

.nav-buttons:hover {
  transition:
    background-color 1s,
    color 1.5s;
}

.hamburger-button-turn-left {
  animation: turnLeft 0.9s 1;
}

.hamburger-button-active {
  transform: rotate(180deg);
  animation: turnRight 0.9s 1;
}

@keyframes turnRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes turnLeft {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animate-slide-in {
  animation: slide-in ease-out 0.7s;
}

.animate-slide-out {
  animation: slide-out ease-in 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(-40px);
  }
  70% {
    opacity: 0.3;
    transform: translatey(0);
  }
  100% {
    opacity: 1;
  }
}
