.triangles-outer-container {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.triangle-container {
	height: 100%;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.triangle {
	animation: triangle-animation 15s linear infinite;
	fill: none;
	stroke: #FFF;
	stroke-width: 13;
	transform-origin: center;
}

.triangle-1 {
	animation-delay: 0s;
}

.triangle-2 {
	animation-delay: -1s;
}

.triangle-3 {
	animation-delay: -2s;
}

.triangle-4 {
	animation-delay: -3s;
}

.triangle-5 {
	animation-delay: -4s;
}

.triangle-6 {
	animation-delay: -5s;
}

.triangle-7 {
	animation-delay: -6s;
}

/* ************************************* */

/* .triangle-1 {
	animation-delay: 0s;
}

.triangle-2 {
	animation-delay: -0.5s;
}

.triangle-3 {
	animation-delay: -1s;
}

.triangle-4 {
	animation-delay: -1.5s;
}

.triangle-5 {
	animation-delay: -2s;
}

.triangle-6 {
	animation-delay: -2.5s;
}

.triangle-7 {
	animation-delay: -3s;
}

.triangle-8 {
	animation-delay: -3.5s;
}

.triangle-9 {
	animation-delay: -4s;
}

.triangle-10 {
	animation-delay: -4.5s;
}

.triangle-11 {
	animation-delay: -5s;
}

.triangle-12 {
	animation-delay: -5.5s;
}

.triangle-13 {
	animation-delay: -6s;
}

.triangle-14 {
	animation-delay: -6.5s;
} */

@keyframes triangle-animation {

	0% {
		opacity: .3;
		transform: scale(0) rotate(0deg);
	}

	100% {
		opacity: 0;
		transform: scale(3) rotate(45deg);
	}

}
